@model List<BankOnlineShopConsumer.Models.CartItem>
<div class="cart">
    <p>
        Chào mừng bạn đến với Bladken Shop! <span>Giỏ hàng:</span><div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm(s) - 
            <ul class="dropdown">
                <li><a href="@Url.Action("Index","Cart")">Xem giỏ hàng</a></li>
            </ul>
        </div>
    </p>
</div>
